notebook
numpy
scipy
matplotlib
ipython
jupyter
pandas
sympy
nose 
xlrd
pysam
seaborn
colored
tabulate

# spreadsheet I/O
xlwt
openpyxl

# for Jupyter progress bars
# https://towardsdatascience.com/ever-wanted-progress-bars-in-jupyter-bdb3988d9cfc
tqdm

# Jupyter nbextensions
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
